:root {
	--shadow: 0 4px 4px #00000022;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fafafa;
}

.card {
	background: #fff;
	box-shadow: var(--shadow);
	padding: 20px;
	margin-bottom: 10px;
}

.card .card_front {
	display: none;
}

.card.open .card_front {
	display: block;
}

.card .card_back {
	display: block;
}

.card.open .card_back {
	display: none;
}

.modal-bacground {
	background: #00000022;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-bacground.open {
	display: flex;
}

.modal {
	background: #fff;
	box-shadow: var(--shadow);
	border-radius: 8px;
	padding: 20px;
	text-align: center;
}

.modal h1 {
	font-size: 2rem;
	text-transform: uppercase;
}
