:root {
	--shadow: 0 4px 4px #00000022;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fafafa;
	font-family: monospace;
	color: #555;
}

.grid {
	display: grid;
	grid-template-rows: repeat(16, minmax(auto, 1fr));
	grid-template-columns: repeat(16, minmax(auto, 1fr));
	grid-gap: 10px;
	margin: 10px;
}

.card {
	background: #fff;
	box-shadow: var(--shadow);
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	font-size: 2rem;
}

.card.matched {
	background: #acf1d1;
}

.card .card_front {
	display: none;
}

.card.open .card_front {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .card_back {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card.open .card_back {
	display: none;
}

.modal-bacground {
	background: #00000022;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-bacground.open {
	display: flex;
}

.modal {
	background: #fff;
	box-shadow: var(--shadow);
	border-radius: 8px;
	padding: 20px;
	text-align: center;
}

.modal h1 {
	font-size: 2rem;
	text-transform: uppercase;
}
